<div>
  <app-movies-filter [summary]="movieSummary$ | async"
                     [filterBy]="filterBy$ | async"></app-movies-filter>
</div>
<ul class="list-unstyled">
  <li *ngFor="let movie of movies$ | async">
    <div class="panel panel-primary">
      <div class="panel-heading">{{movie.title}}</div>
      <div class="panel-body">Release Date: {{movie.releaseDate}}</div>
      <div class="panel-footer">
        <span *ngIf="movie.purchased">You purchased tickets for this!</span>
        <span *ngIf="!movie.purchased">You did not purchase tickets for this.
          <button class="btn btn-xs btn-success"
                  (click)="purchaseTicketFor(movie)">Purchase</button>
        </span>
      </div>
    </div>
  </li>
</ul>
<div>Summary - like how many are out? how many in the future?</div>
